body {
  background-image: url('https://dmhxz00kguanp.cloudfront.net/fotos/128848/papel-de-parede-estrelinhas-fundo-cinza-com-azul-e-branco-1m-x-1-70m-286858.jpg');
  background-size: 100vh;
  height: 100vh;
  font-family: "Sofia";
  font-style: oblique;
}

.menu {
  background-color: #e0e0e0;
  border: 3px dotted #1A237E;
}

.menu ul {
  display: inline-flex;
  justify-content: space-between;
    width: 300px;
}

.menu li {
  list-style: none;
  color: #1A237E;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: white;
}

.site-subtitle, 
.site-title {
  color: #1A237E;
  text-align: center;
}

